<%= form_with(model: project, class: "card card-body") do |form| %>
  <% if project.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">
        <%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:
      </h4>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 4, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-end">
    <%= form.submit "Save Project", class: "btn btn-primary" %>
  </div>
<% end %>
